.content-board {
  height: calc(100% - 6rem);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.miner-stand {
  height: 100%;
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.chart-stand {
  width: 60%;
}

.chart-stand div:first-child {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #164573;
  width: 100%;
  text-align: center;
}


@media (max-width: 1440px) {
  .content-board {
    height: calc(100% - 5rem);
  }
}
