.dashboard-details {
  width: 100%;
  height: 6rem;
  box-shadow: 3px 2px 3px 1px #ccc;
  display: inline-grid;
  grid-template-columns: 3fr 1fr 1fr 4fr;
}

.money-status-wrapper {
  height: inherit;
  padding-left: 4rem;

  img {
    padding: 0 0.3rem !important;
  }
}

@media (max-width: 1440px) {
  .dashboard-details {
    height: 5rem;
  }
}