.description {
  width: 60%;
  padding: 2rem 0;
  position: relative;
  max-height: 900px;
}

.processor-wrapper {
  position: absolute;
  top: 5.5rem;
  width: 9rem;
  left: 17.65rem;
}

.machinesline-wrapper {
  position: absolute;
  top: 14rem;
  left: 19.8rem;
  width: 14rem;
}

.machines-wrapper {
  position: absolute;
  top: 20rem;
  left: 14.2rem;
  width: 14rem;
}

.bankline-wrapper {
  position: absolute;
  width: 6rem;
  top: 10.15rem;
  left: 26.3rem;
}

.bankline-2-wrapper {
  position: absolute;
  width: 6rem;
  top: 10.15rem;
  left: 31.8rem;
}

.bank-border-wrapper {
  position: absolute;
  width: 8rem;
  top: 3.6rem;
  left: 36.6rem;
}

.bank-wrapper {
  position: absolute;
  width: 4rem;
  top: 6rem;
  left: 38.5rem;
}

.bank-line-wrapper {
  position: absolute;
  width: 6.5rem;
  transform: rotate(90deg);
  top: 12.9rem;
  left: 40.9rem;
}
.money-wrapper {
  position: absolute;
  width: 9rem;
  left: 40rem;
  top: 16.2rem;
}

.teg_1_text {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  position: absolute;
  top: 31rem;
  left: 24rem;
  font-size: 1.3rem;
}
.teg_2_text {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  position: absolute;
  top: 6rem;
  left: 10rem;
  width: auto;
  font-size: 1.3rem;
}

.teg_3_text {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  position: absolute;
  top: 7rem;
  left: 28rem;
  font-size: 1.3rem;
  width: 16rem;
}
.teg_4_text {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  position: absolute;
  top: 23rem;
  left: 38rem;
  font-size: 1.3rem;
  width: 17rem;
}

@media (max-width: 1100px) {
  .description {
    width: 65%;
  }
}


@media (max-width: 1024px) {
  .description {
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    padding: 0;
    min-height: 44rem;
    max-height: 100%;
  }

  .processor-wrapper {
    top: 17%;
    left: 15%;
    width: 20%;
  }

  .machinesline-wrapper {
    display: none;
  }

  .machines-wrapper {
    top: 60%;
    left: 15%;
    width: 20%;
  }

  .bankline-wrapper {
    display: none;
  }

  .bankline-2-wrapper {
    display: none
  }

  .bank-border-wrapper {
    display: none;
  }

  .bank-wrapper {
    width: 20%;
    top: 20%;
    left: 60%;
  }

  .bank-line-wrapper {
    display: none;
  }
  .money-wrapper {
    width: 20%;
    left: 60%;
    top: 65%;
  }

  .teg_1_text {
    display: none;

  }
  .teg_2_text {
    display: none;
  }
  .teg_3_text {
    display: none;
  }
  .teg_4_text {
    display: none;
  }
}

@media (max-width: 730px) {
  .processor-wrapper {
    top: 17%;
    left: 10%;
    width: 25%;
  }

  .machines-wrapper {
    top: 62%;
    left: 15%;
    width: 30%;
  }

  .bank-wrapper {
    width: 25%;
    top: 20%;
    left: 60%;
  }

  .money-wrapper {
    width: 25%;
    left: 60%;
    top: 65%;
  }
}

@media (max-width: 500px) {
  .description {
    display: none;
  }
}
