.header {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  height: 8%;;
}

.header_name {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: inherit;
  width: 50%;
  height: 100%;
  padding: 0 1.2rem;
}

.header_buttons_wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.2rem;
}

.header_button-wrapper{
  height: 100%;
  padding: 0 0 0 0.5rem;
  display: flex;
  align-items: center;
}

.header_button{
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 0.4rem 1.1rem;
  transition: 0.2s;
  outline: none;
}

.header_button:hover {
  transition: 0.2s;
  background: white;
  color: #164573;
}

.header_settings_button{
  outline: none;
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  position: relative;
}

.active_settings {
  border: 2px solid white;
  border-radius: 7px;
  height: 44%;
}

.header_settings_button:hover{
  border: 2px solid white;
  border-radius: 7px;
  height: 44%;
  cursor: pointer;
}

.header_settings_text {
  height: inherit;
  padding: 0.2rem 0.5rem;
}

.header_settings_icon_wrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

.header_settings_icon_wrapper img {
  max-height: 60%;
}

@media(max-width: 730px) {
  .header {
    height: 10rem;
    flex-direction: column;
  }

  .header_name {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3.3rem;
  }

  .header_buttons_wrapper {
    width: 22rem;
    height: auto;
    justify-content: space-between;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .header {
    height:40%;
    flex-direction: column;
  }
  .header_name {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2.3rem;
    height: 70%;
  }
  .header_buttons_wrapper {
    height: 30%;
    justify-content: space-between;
    width: 22rem;
    align-items: center;
    font-size: 1rem;
    padding: 0;
    box-sizing: border-box;
  }
}

@media (max-width: 375px) {
  .header_buttons_wrapper {
    justify-content: space-between;
    width: 100%;
    padding: 0 1.2rem;
  }

  .header_button {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 0.4rem 0.7rem;
    transition: 0.2s;
    outline: none;
  }
}
