.label-input_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 0 0 0;
}

.label-input_wrapper label {
  font-size: 1rem;
  padding: 0.5rem 0;
  font-family: 'Comfortaa', sans-serif;
  color: #164573;
  font-weight: bold;
}

.label-input_wrapper input {
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-color: #164573;
  padding: 0 0.5rem;
  font-family: 'Comfortaa', sans-serif;
  color: black;
  font-size: 0.8rem;
}
