.login_form {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
}

.login_form_shape {
  width: 22rem;
  border-radius: 5px;
  height: auto;
  background: white;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .login_form {
    width: 35%;
  }
}

@media (max-width: 1024px) {
  .login_form {
    width: 100%;
    z-index: 5;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 730px) {
  .header_button-wrapper {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .login_form {
    z-index: 5;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .login_form {
    width: 100%;
    z-index: 5;
    align-items: center;
  }

  .login_form_shape {
    width: 100%;
    border-radius: 5px;
    height: auto;
    background: white;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
  }
}

