.menu-button {
  font-size: 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  color: #2985cc;
  font-weight: bold;
  transition: 0.2s;
  height: 100%;
  width: 100%;
}

.menu-button:hover{
  border-bottom: 1px solid #2985cc;
  color: white;
  background: #2985cc;
  transition: 0.2s;
  cursor: pointer;
}
