.miner-machine {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12rem;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.miner-machine:hover {
  background: #2985cc5c;
  cursor: pointer;
}

.miner-machine div:last-child {
  font-family: Digital;
}