.number-wrapper {
  position: relative;
  height: 3rem;
  width: 1.5rem;
}

.first-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background: transparent;
  border-radius: 10px;
}

.second-element {
  position: absolute;
  top: 0.8rem;
  left: 0;
  background: transparent;
  width: 0.4rem;
  height: 40%;
  border-radius: 10px;
}

.third-element {
  position: absolute;
  top: 0.8rem;;
  right: 0;
  background: transparent;
  width: 0.4rem;
  height: 40%;
  border-radius: 10px;
}

.fourth-element {
  position: absolute;
  top: 48%;
  left: 0.8rem;;
  width: 90%;
  height: 0.4rem;
  background: transparent;
  border-radius: 10px;
}

.fives-element {
  position: absolute;
  bottom: 0.8rem;;
  left: 0;
  background: transparent;
  width: 0.4rem;
  height: 40%;
  border-radius: 10px;
}

.sixes-element {
  position: absolute;
  bottom: 0.8rem;;
  right: 0;
  background: transparent;
  width: 0.4rem;
  height: 40%;
  border-radius: 10px;
}

.seventh-element {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background: transparent;
  border-radius: 10px;
}

.first-element-active{
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 0.3rem;
  background: #e20c0c;
  border-radius: 10px;
}

.second-element-active {
  position: absolute;
  top: 0.4rem;
  left: 0;
  background: #e20c0c;
  width: 0.3rem;
  height: 1rem;
  border-radius: 10px;
}

.third-element-active {
  position: absolute;
  top: 0.4rem;
  right: 0;
  background: #e20c0c;
  width: 0.3rem;
  height: 1rem;
  border-radius: 10px;
}

.fourth-element-active{
  position: absolute;
  top: 1.4rem;
  left: 10%;
  width: 80%;
  height: 0.3rem;
  background: #e20c0c;
  border-radius: 10px;
}

.fives-element-active {
  position: absolute;
  top: 1.8rem;
  left: 0;
  background: #e20c0c;
  width: 0.3rem;
  height: 1rem;
  border-radius: 10px;
}

.sixes-element-active {
  position: absolute;
  top: 1.8rem;
  right: 0;
  background: #e20c0c;
  width: 0.3rem;
  height: 1rem;
  border-radius: 10px;
}

.seventh-element-active {
  position: absolute;
  top: 2.8rem;
  left: 5%;
  width: 90%;
  height: 0.3rem;
  background: #e20c0c;
  border-radius: 10px;
}

.dot {
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 0.3rem;
  height: 0.3rem;
  background: #e20c0c;
  border-radius: 10px;
}





