.settings_menu_opened {
  display: block;
  background: white;
  height: auto;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 5px 4px 2px #0009;
  z-index: 0;
}

.settings_menu_opened ul {
  height: inherit;
  margin: 10px 0px;
  padding: 0;
}
.settings_menu_opened ul li {
  color: #164573;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.settings_menu_closed {
  display: none;
}
