.submit_button_wrapper{
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.submit_button_wrapper input {
  height: 3rem;
  width: inherit;
  font-family: 'Comfortaa', sans-serif;
  background: transparent;
  color: #164573;
  border: 3px solid #164573;
  border-radius: 11px;
  font-weight: bold;
  transition: 0.2s;
  font-size: 1rem;
  outline: none;
  text-align: center;
}

.submit_button_wrapper input:hover {
  background: #164573;
  color: white;
  border: 3px solid #164573;
  cursor: pointer;
  transition: 0.2s;
}
