.text-with-icon-wrapper {
  display: inline-flex;
  align-items: center;
  height: inherit;
  justify-content: flex-end;
}

.text-with-icon-wrapper img {
  max-height: 50%;
  padding: 0 1rem;
}

.text-with-icon-wrapper span {
  font-family: 'Montserrat', sans-serif;
  color: #2985cc;
  font-size: 1.1rem;
}

.text-first {
  flex-direction: row;
}

.icon-first {
  flex-direction: row-reverse;
}