.content-wrapper {
  display: flex;
  box-sizing: border-box;
  padding: 0 1.2rem;
  width: 100%;
  height: 92%;
  max-width: 1440px;
  margin: 0 auto;
}

.login-page {
  height: 100%;
  width: 100%;
}

@media (max-width: 1350px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 1220px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 500px) {
  .login-page  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    height: 60%;
    align-items: flex-start;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 85%;
  }
}




