// FONTS
/*font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Comfortaa';
font-family: 'Montserrat', sans-serif;
*/

//defaults
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #164573;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}


//components
@import "./fonst";
@import "~c3/c3.css";
@import "components/header";
@import "components/submit-button";
@import "components/settings-menu";
@import "components/description";
@import "components/label-input";
@import "components/login-form";
@import "components/menu-bar";
@import "components/dashboard";
@import "components/dashboard-details";
@import "components/menu-button";
@import "components/text-with-icon";
@import "components/content-board";
@import "components/content-machines";
@import "components/number";
@import "components/miner";

//pages
@import "pages/loginpage";
@import "pages/main-page";
